body {
  min-width: 350px;
  color: #444;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--main-clr);
  color: white;
  padding: 3.2rem;
  height: 7rem;
}

.header .logo a p {
  display: inline;
  margin-left: 0.8rem;
}

.form {
  margin: 3.2rem 0;
  font-size: 1.6rem;
}

/* Remove Input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.field {
  margin-bottom: 1.8rem;
}

.form input {
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;

  position: relative;
  transition: border 0.3s;
}

.form select {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.8rem 0;
  margin-top: 0.8rem;
  width: 100%;
  flex-basis: 120px;
}

input:focus {
  border-color: #3399ff;
}

label {
  transition: 0.3s;
}

.field:focus-within label {
  color: #3399ff;
}

.colors {
  display: flex;
  justify-content: space-between;
}
.colors div {
  flex-basis: 45%;
}

.colors input {
  border-radius: 8px;
  height: 20px;
}

.link-box a {
  font-size: 1.4rem;
}

.form button {
  display: block;
  margin: 0rem auto;
  padding: 1.2rem 1.6rem;
  color: white;
  background-color: var(--main-clr);
  border-radius: 8px 16px;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.output .img-preview {
  text-align: center;
}
.output img {
  height: 40rem;
  display: block;
  max-width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
  html {
    font-size: 55%;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
